# --- Python ---
*.py[co]
*.egg
*.egg-info/
develop-eggs/
dist/
build/
dropin.cache
pip-log.txt
.installed.cfg
*#
.#*
.coverage
.ropeproject
.tox
tags
tests/test-output
tests/test-repos
__pycache__/
doc/_build/
git-link.zip
